@import "tailwindcss";
@import "../../vendor/livewire/flux/dist/flux.css";

/* Sources (scanning for class usage) */
@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';
@source "./resources/views/**/*.blade.php";
@source "./vendor/wire-elements/modal/resources/views/*.blade.php";
@source "./storage/framework/views/*.php";

/* Dark mode */
@custom-variant dark (&:where(.dark, .dark *));

/* Inline safelist (forces Tailwind to always generate these classes) */
@source inline("max-w-sm text-white text-black max-w-md max-w-lg max-w-xl max-w-2xl max-w-3xl max-w-4xl max-w-5xl max-w-6xl max-w-7xl sm:max-w-sm sm:max-w-md sm:max-w-lg sm:max-w-xl sm:max-w-2xl md:max-w-sm md:max-w-md md:max-w-lg md:max-w-xl md:max-w-2xl lg:max-w-sm lg:max-w-md lg:max-w-lg lg:max-w-xl lg:max-w-2xl xl:max-w-sm xl:max-w-md xl:max-w-lg xl:max-w-xl xl:max-w-2xl 2xl:max-w-sm 2xl:max-w-md 2xl:max-w-lg z-30 2xl:max-w-xl 2xl:max-w-2xl");

/* Custom utilities */
@layer utilities {
    .bg-zinc {
        @apply bg-zinc-100 text-zinc-900 dark:bg-zinc-800 dark:text-zinc-100;
    }
    .bg-amber {
        @apply bg-amber-400 text-amber-900 dark:bg-amber-500 dark:text-amber-50;
    }
    .bg-yellow {
        @apply bg-yellow-400 text-yellow-900 dark:bg-yellow-500 dark:text-yellow-50;
    }
    .bg-teal {
        @apply bg-teal-500 text-teal-50 dark:bg-teal-600 dark:text-teal-50;
    }
    .bg-sky {
        @apply bg-sky-500 text-sky-50 dark:bg-sky-600 dark:text-sky-50;
    }
    .bg-violet {
        @apply bg-violet-500 text-violet-50 dark:bg-violet-600 dark:text-violet-50;
    }
    .bg-rose {
        @apply bg-rose-500 text-rose-50 dark:bg-rose-600 dark:text-rose-50;
    }
}

/* Theme overrides */
@theme {
    --color-zinc-50: var(--color-neutral-50);
    --color-zinc-100: var(--color-neutral-100);
    --color-zinc-200: var(--color-neutral-200);
    --color-zinc-300: var(--color-neutral-300);
    --color-zinc-400: var(--color-neutral-400);
    --color-zinc-500: var(--color-neutral-500);
    --color-zinc-600: var(--color-neutral-600);
    --color-zinc-700: var(--color-neutral-700);
    --color-zinc-800: var(--color-neutral-800);
    --color-zinc-900: var(--color-neutral-900);
    --color-zinc-950: var(--color-neutral-950);
}

@theme {
    --color-accent: var(--color-orange-500);
    --color-accent-content: var(--color-orange-600);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-orange-400);
        --color-accent-content: var(--color-orange-400);
        --color-accent-foreground: var(--color-orange-950);
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

/* Override the input color  */
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border-radius: 0.4rem; /* This corresponds to Tailwind's rounded-lg */
    border: none;
}
/* Firefox specific styles */
input[type="color"]::-moz-color-swatch {
    border-radius: 0.4rem; /* This corresponds to Tailwind's rounded-lg */
    border: none;
}

/* Custom scrollbar for WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 6px; /* For vertical scrollbars */
    height: 6px; /* For horizontal scrollbars */
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffba31;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #bb8925;
}

/* Fallback for Firefox */
.your-container {
    scrollbar-width: thin;
    scrollbar-color: #ffba31 #f1f1f1;
}
